html {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Gilroy ☞', Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.landingpagemobile1 {
  display: block;
  position: absolute;
  background-color: rgba(35, 35, 35, 1);
  width: 1080px;
  height: 11253px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .landingpagemobile {
  position: absolute;
  display: none;
  background-image: url("../img/landingpagemobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1080px;
  height: 11370px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .topsection {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1080px;
  height: 1859.96px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .topsection .mbggraphicmask {
  position: absolute;
  background-image: url("../img/mbggraphicmask.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 558px;
  height: 713.31px;
  left: 522px;
  top: 0;
}

.landingpagemobile1 .topsection .mlaptopmask {
  position: absolute;
  background-image: url("../img/mlaptopmask.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1080px;
  height: 770.81px;
  left: 0;
  top: 196px;
}

.landingpagemobile1 .topsection .cta {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 902px;
  height: 726.04px;
  left: 89px;
  top: 1028px;
}

.landingpagemobile1 .topsection .cta .filtra {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 93px;
  letter-spacing: 0.46px;
  color: rgba(242, 242, 242, 1);
  font-size: 93px;
  font-weight: 700;
  width: 902px;
  height: 209px;
  left: 0;
  top: 11.50px;
}

.landingpagemobile1 .topsection .cta .btnempiezaya {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 487px;
  height: 108px;
  left: 207px;
  top: 288px;
  border: none;
  outline: none;
}

.landingpagemobile1 .topsection .cta .btnempiezaya .hoverstate47b4a142 {
  display: block;
  position: absolute;
  display: none;
  background-image: url("../img/hoverstate47b4a142.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: transparent;
  width: 487px;
  height: 108px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .topsection .cta .btnempiezaya .hoverstate47b4a142 .rectangle67326089b27 {
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border-color: rgba(255, 153, 74, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 54px;
  width: 487px;
  height: 108px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .topsection .cta .btnempiezaya .hoverstate47b4a142 .insidecb443828 {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 319px;
  height: 55px;
  left: 85px;
  top: 27px;
}

.landingpagemobile1 .topsection .cta .btnempiezaya .hoverstate47b4a142 .insidecb443828 .empiezaYae591c17c {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 1.13px;
  color: rgba(242, 242, 242, 1);
  font-size: 45px;
  font-weight: 700;
  width: 248px;
  height: 55px;
  left: 71px;
  top: 0;
}

.landingpagemobile1 .topsection .cta .btnempiezaya .hoverstate47b4a142 .insidecb443828 .forwardArrow6f624b2e {
  position: absolute;
  background-image: url("../img/forwardArrow6f624b2e.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  width: 33px;
  height: 33px;
  left: 0;
  top: 12px;
}

.landingpagemobile1 .topsection .cta .btnempiezaya .defaultstateb2b95e31 {
  display: block;
  position: absolute;
  background-image: url("../img/defaultstateb2b95e31.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: transparent;
  width: 487px;
  height: 108px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .topsection .cta .btnempiezaya .defaultstateb2b95e31 .rectangle673 {
  position: absolute;
  background-image: url("../img/rectangle673.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 54px;
  width: 487px;
  height: 108px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .topsection .cta .btnempiezaya .defaultstateb2b95e31 .inside9b93055f {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 319px;
  height: 55px;
  left: 85px;
  top: 27px;
}

.landingpagemobile1 .topsection .cta .btnempiezaya .defaultstateb2b95e31 .inside9b93055f .empiezaYa {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 1.13px;
  color: rgba(255, 255, 255, 1);
  font-size: 45px;
  font-weight: 700;
  width: 248px;
  height: 55px;
  left: 71px;
  top: 0;
}

.landingpagemobile1 .topsection .cta .btnempiezaya .defaultstateb2b95e31 .inside9b93055f .forwardArrow {
  position: absolute;
  background-image: url("../img/forwardArrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  width: 33px;
  height: 33px;
  left: 0;
  top: 12px;
}

.landingpagemobile1 .topsection .cta .btnempiezaya:hover>.hoverstate47b4a142 {
  display: inherit;
}

.landingpagemobile1 .topsection .cta .btnempiezaya:hover>.defaultstateb2b95e31 {
  display: none;
}

.landingpagemobile1 .topsection .cta .conectate {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 67px;
  letter-spacing: 0.82px;
  color: rgba(242, 242, 242, 1);
  font-size: 41px;
  font-weight: 500;
  width: 910px;
  height: 251px;
  left: 2px;
  top: 466.54px;
}

.landingpagemobile1 .topsection .topbar {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 357px;
  height: 54px;
  left: 651px;
  top: 74px;
}

.landingpagemobile1 .topsection .topbar .btnprobar06a5010d {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 192px;
  height: 54px;
  left: 165px;
  top: 0;
  border: none;
  outline: none;
}

.landingpagemobile1 .topsection .topbar .btnprobar06a5010d .hoverstate2f4c9e26 {
  display: block;
  position: absolute;
  display: none;
  cursor: pointer;
  background-color: transparent;
  width: 192px;
  height: 54px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .topsection .topbar .btnprobar06a5010d .hoverstate2f4c9e26 .rectangle6714bb55cc3 {
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  width: 192px;
  height: 54px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .topsection .topbar .btnprobar06a5010d .hoverstate2f4c9e26 .probar29482163 {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 103px;
  letter-spacing: 0.50px;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 700;
  width: 66px;
  height: 24px;
  left: 62px;
  top: -24.50px;
}

.landingpagemobile1 .topsection .topbar .btnprobar06a5010d .defaultstate51cb6939 {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 192px;
  height: 54px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .topsection .topbar .btnprobar06a5010d .defaultstate51cb6939 .rectangle67151008ea5 {
  position: absolute;
  cursor: pointer;
  background-color: rgba(32, 32, 32, 1);
  border-radius: 25px;
  width: 192px;
  height: 54px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .topsection .topbar .btnprobar06a5010d .defaultstate51cb6939 .probarf2ed9c47 {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 103px;
  letter-spacing: 0.50px;
  color: rgba(255, 117, 135, 1);
  font-size: 20px;
  font-weight: 700;
  width: 66px;
  height: 24px;
  left: 62px;
  top: -24.50px;
}

.landingpagemobile1 .topsection .topbar .btnprobar06a5010d:hover>.hoverstate2f4c9e26 {
  display: inherit;
}

.landingpagemobile1 .topsection .topbar .btnprobar06a5010d:hover>.defaultstate51cb6939 {
  display: none;
}

.landingpagemobile1 .topsection .topbar .socialmedia {
  display: block;
  position: absolute;
  background-image: url("../img/socialmedia.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  width: 115px;
  height: 18px;
  left: 0;
  top: 18px;
}

.landingpagemobile1 .topsection .topbar .socialmedia .mfacebook {
  position: absolute;
  background-image: url("../img/mfacebook.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 18px;
  height: 18px;
  left: 97px;
  top: 0;
}

.landingpagemobile1 .topsection .topbar .socialmedia .minstagram {
  position: absolute;
  background-image: url("../img/minstagram.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .topsection .topbar .socialmedia .mtwitter {
  position: absolute;
  background-image: url("../img/mtwitter.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 18px;
  height: 18px;
  left: 49px;
  top: 0;
}

.landingpagemobile1 .topsection .mteammatchlogo {
  position: absolute;
  background-image: url("../img/mteammatchlogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 360px;
  height: 45px;
  left: 84px;
  top: 79px;
}

.landingpagemobile1 .topsection .mforwardArrowSmall {
  position: absolute;
  background-image: url("../img/mforwardArrowSmall.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 63px;
  height: 40.96px;
  left: 508.06px;
  top: 1819px;
}

.landingpagemobile1 .mobilesection {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1080px;
  height: 1557.75px;
  left: 0;
  top: 1921.43px;
}

.landingpagemobile1 .mobilesection .bgsecondgrey {
  position: absolute;
  fill: rgba(35, 35, 35, 1);
  -webkit-filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.42));
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.42));
  width: 1080px;
  height: 1215.75px;
  left: 0;
  top: 342px;
}

.landingpagemobile1 .mobilesection .mtmmockupsmask {
  position: absolute;
  background-image: url("../img/mtmmockupsmask.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1080px;
  height: 342px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .mobilesection .mobilecta {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1008px;
  height: 1017.68px;
  left: 36px;
  top: 432.57px;
}

.landingpagemobile1 .mobilesection .mobilecta .teammatchaTuAlcance {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 95px;
  letter-spacing: 2.38px;
  color: rgba(242, 242, 242, 1);
  font-size: 95px;
  font-weight: 700;
  width: 604px;
  height: 213px;
  left: 202px;
  top: 11.50px;
}

.landingpagemobile1 .mobilesection .mobilecta .btnplaystore {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 667.65px;
  height: 177.22px;
  left: 170px;
  top: 580px;
  border: none;
  outline: none;
}

.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .hoverstatef6a32cd9 {
  display: block;
  position: absolute;
  display: none;
  cursor: pointer;
  background-color: transparent;
  width: 667.65px;
  height: 177.22px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .hoverstatef6a32cd9 .path246 {
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  fill: transparent;
  stroke: rgba(255, 153, 74, 1);
  stroke-width: 6px;
  stroke-linecap: butt;
  width: 667.65px;
  height: 177.22px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .hoverstatef6a32cd9 .insidef46698ef {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 440.47px;
  height: 112.35px;
  left: 114px;
  top: 33px;
}

.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .hoverstatef6a32cd9 .insidef46698ef .playStore5e6a3aab {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: 700;
  width: 282px;
  height: 73px;
  left: 161.47px;
  top: 20px;
}

.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .hoverstatef6a32cd9 .insidef46698ef .mplaystore903c3c59 {
  position: absolute;
  background-image: url("../img/mplaystore903c3c59.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  width: 112.45px;
  height: 112.35px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .defaultstate15c2e21f {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 667.65px;
  height: 177.22px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .defaultstate15c2e21f .path2217cc91163 {
  position: absolute;
  cursor: pointer;
  fill: transparent;
  width: 667.65px;
  height: 177.22px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .defaultstate15c2e21f .inside4a8a8c1a {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 440.47px;
  height: 112.35px;
  left: 114px;
  top: 33px;
}

.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .defaultstate15c2e21f .inside4a8a8c1a .playStore {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: 700;
  width: 282px;
  height: 73px;
  left: 161.47px;
  top: 20px;
}

.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .defaultstate15c2e21f .inside4a8a8c1a .mplaystore {
  position: absolute;
  background-image: url("../img/mplaystore.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  width: 112.45px;
  height: 112.35px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .mobilesection .mobilecta .btnplaystore:hover>.hoverstatef6a32cd9 {
  display: inherit;
}

.landingpagemobile1 .mobilesection .mobilecta .btnplaystore:hover>.defaultstate15c2e21f {
  display: none;
}

.landingpagemobile1 .mobilesection .mobilecta .btnappstore {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 665.64px;
  height: 176.68px;
  left: 171px;
  top: 841px;
  border: none;
  outline: none;
}

.landingpagemobile1 .mobilesection .mobilecta .btnappstore .hoverstate79020c7c {
  display: block;
  position: absolute;
  display: none;
  cursor: pointer;
  background-color: transparent;
  width: 665.64px;
  height: 176.68px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .mobilesection .mobilecta .btnappstore .hoverstate79020c7c .path244 {
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  fill: transparent;
  stroke: rgba(117, 145, 255, 1);
  stroke-width: 6px;
  stroke-linecap: butt;
  width: 665.64px;
  height: 176.68px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .mobilesection .mobilecta .btnappstore .hoverstate79020c7c .inside9cceb8fc {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 422.87px;
  height: 82.40px;
  left: 122px;
  top: 47px;
}

.landingpagemobile1 .mobilesection .mobilecta .btnappstore .hoverstate79020c7c .inside9cceb8fc .appStore0ed73564 {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: 700;
  width: 282px;
  height: 73px;
  left: 146.87px;
  top: 5px;
}

.landingpagemobile1 .mobilesection .mobilecta .btnappstore .hoverstate79020c7c .inside9cceb8fc .mapplelogo9ce79120 {
  position: absolute;
  background-image: url("../img/mapplelogo9ce79120.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  width: 82.40px;
  height: 82.40px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .mobilesection .mobilecta .btnappstore .defaultstatecd5bb0e4 {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 665.64px;
  height: 176.68px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .mobilesection .mobilecta .btnappstore .defaultstatecd5bb0e4 .path221 {
  position: absolute;
  cursor: pointer;
  fill: transparent;
  width: 665.64px;
  height: 176.68px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .mobilesection .mobilecta .btnappstore .defaultstatecd5bb0e4 .inside {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 422.87px;
  height: 82.40px;
  left: 122px;
  top: 47px;
}

.landingpagemobile1 .mobilesection .mobilecta .btnappstore .defaultstatecd5bb0e4 .inside .appStore {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: 700;
  width: 282px;
  height: 73px;
  left: 146.87px;
  top: 5px;
}

.landingpagemobile1 .mobilesection .mobilecta .btnappstore .defaultstatecd5bb0e4 .inside .mapplelogo {
  position: absolute;
  background-image: url("../img/mapplelogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  width: 82.40px;
  height: 82.40px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .mobilesection .mobilecta .btnappstore:hover>.hoverstate79020c7c {
  display: inherit;
}

.landingpagemobile1 .mobilesection .mobilecta .btnappstore:hover>.defaultstatecd5bb0e4 {
  display: none;
}

.landingpagemobile1 .mobilesection .mobilecta .utiliza {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 69px;
  letter-spacing: 0.84px;
  color: rgba(242, 242, 242, 1);
  font-size: 42px;
  font-weight: 500;
  width: 1018px;
  height: 188px;
  left: 0;
  top: 300.50px;
}

.landingpagemobile1 .misionsection {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1080px;
  height: 2708.68px;
  left: 0;
  top: 3592.32px;
}

.landingpagemobile1 .misionsection .bgmision {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1080px;
  height: 863.28px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .misionsection .bgmision .rectangle762 {
  position: absolute;
  background-color: rgba(32, 32, 32, 1);
  -webkit-filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.54));
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.54));
  width: 1080px;
  height: 863.28px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .misionsection .bgmision .linepattern {
  position: absolute;
  background-image: url("../img/linepattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1080px;
  height: 84.81px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .misionsection .mision {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 856px;
  height: 543.48px;
  left: 112.50px;
  top: 211.68px;
}

.landingpagemobile1 .misionsection .mision .nuestraMision {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 93px;
  letter-spacing: 1.40px;
  color: rgba(242, 242, 242, 1);
  font-size: 93px;
  font-weight: 700;
  width: 682px;
  height: 116px;
  left: 86.50px;
  top: 11.50px;
}

.landingpagemobile1 .misionsection .mision .somosUnaEmpresa {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 69px;
  letter-spacing: 0.84px;
  color: rgba(242, 242, 242, 1);
  font-size: 42px;
  font-weight: 500;
  width: 856px;
  height: 326px;
  left: 0;
  top: 207.98px;
}

.landingpagemobile1 .misionsection .sabermas {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1080px;
  height: 1752px;
  left: 0;
  top: 956.68px;
}

.landingpagemobile1 .misionsection .sabermas .panel1 {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1080px;
  height: 516px;
  left: 0;
  top: 205px;
}

.landingpagemobile1 .misionsection .sabermas .panel1 .mus {
  position: absolute;
  background-image: url("../img/mus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 514px;
  height: 516px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .misionsection .sabermas .panel1 .insidepanel1 {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 566px;
  height: 515px;
  left: 514px;
  top: 0;
}

.landingpagemobile1 .misionsection .sabermas .panel1 .insidepanel1 .rectangle696 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 566px;
  height: 515px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .misionsection .sabermas .panel1 .insidepanel1 .rectangle698 {
  position: absolute;
  background-color: rgba(252, 44, 72, 1);
  width: 73px;
  height: 8px;
  left: 91px;
  top: 0;
}

.landingpagemobile1 .misionsection .sabermas .panel1 .insidepanel1 .aprendeMas {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 2.20px;
  color: rgba(223, 42, 66, 1);
  font-size: 44px;
  font-weight: 700;
  width: 316px;
  height: 54px;
  left: 91px;
  top: 350px;
}

.landingpagemobile1 .misionsection .sabermas .panel1 .insidepanel1 .mcurvedarrow {
  position: absolute;
  background-image: url("../img/mcurvedarrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 32px;
  height: 32px;
  left: 432px;
  top: 363px;
}

.landingpagemobile1 .misionsection .sabermas .panel1 .insidepanel1 .team {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0;
  color: rgba(58, 58, 58, 1);
  font-size: 92px;
  font-weight: 700;
  width: 231px;
  height: 114px;
  left: 91px;
  top: 119px;
}

.landingpagemobile1 .misionsection .sabermas .panel1 .insidepanel1 .quienesSomos {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 1.50px;
  color: rgba(58, 58, 58, 1);
  font-size: 30px;
  font-weight: 700;
  width: 254px;
  height: 38px;
  left: 91px;
  top: 284px;
}

.landingpagemobile1 .misionsection .sabermas .panel2 {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1080px;
  height: 517px;
  left: 0;
  top: 720px;
}

.landingpagemobile1 .misionsection .sabermas .panel2 .mcontroller {
  position: absolute;
  background-image: url("../img/mcontroller.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 514px;
  height: 517px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 566.10px;
  height: 516px;
  left: 513.90px;
  top: 0;
}

.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 .rectangle69440e015b9 {
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(32, 32, 32, 1);
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 8px;
  width: 566.10px;
  height: 516px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 .rectangle6997be07b9e {
  position: absolute;
  background-color: rgba(252, 44, 72, 1);
  width: 99px;
  height: 13px;
  left: 89.10px;
  top: 8px;
}

.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 .gamingIndustria {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 53px;
  letter-spacing: 2.50px;
  color: rgba(242, 242, 242, 1);
  font-size: 50px;
  font-weight: 700;
  width: 272px;
  height: 116px;
  left: 89.10px;
  top: 214px;
}

.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 .gamingIndustria .gamingIndustria-0 {
  color: rgba(242, 242, 242, 1);
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 2.5;
}

.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 .gamingIndustria .gamingIndustria-6 {
  color: rgba(242, 242, 242, 1);
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 2.5;
}

.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 .gamingIndustria .gamingIndustria-7 {
  color: rgba(242, 242, 242, 1);
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 2.5;
}

.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 .gamingIndustria .gamingIndustria-9 {
  color: rgba(242, 242, 242, 1);
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 2.5;
}

.landingpagemobile1 .misionsection .sabermas .panel3 {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1080px;
  height: 516px;
  left: 0;
  top: 1236px;
}

.landingpagemobile1 .misionsection .sabermas .panel3 .mcrystal {
  position: absolute;
  background-image: url("../img/mcrystal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 514px;
  height: 516px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 566.10px;
  height: 516px;
  left: 513.90px;
  top: 0;
}

.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 .rectangle694 {
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(32, 32, 32, 1);
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 8px;
  width: 566.10px;
  height: 516px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 .rectangle699 {
  position: absolute;
  background-color: rgba(252, 44, 72, 1);
  width: 99px;
  height: 12px;
  left: 89.10px;
  top: 9px;
}

.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 .multiplayerMatchmaking {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 53px;
  letter-spacing: 2.50px;
  color: rgba(242, 242, 242, 1);
  font-size: 50px;
  font-weight: 700;
  width: 387px;
  height: 116px;
  left: 89.10px;
  top: 216px;
}

.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 .multiplayerMatchmaking .multiplayerMatchmaking-0 {
  color: rgba(242, 242, 242, 1);
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 2.5;
}

.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 .multiplayerMatchmaking .multiplayerMatchmaking-11 {
  color: rgba(242, 242, 242, 1);
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 2.5;
}

.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 .multiplayerMatchmaking .multiplayerMatchmaking-12 {
  color: rgba(242, 242, 242, 1);
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 2.5;
}

.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 .multiplayerMatchmaking .multiplayerMatchmaking-14 {
  color: rgba(242, 242, 242, 1);
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 2.5;
}

.landingpagemobile1 .misionsection .sabermas .saberMas {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 1.38px;
  color: rgba(242, 242, 242, 1);
  font-size: 92px;
  font-weight: 700;
  width: 471px;
  height: 114px;
  left: 303px;
  top: 0;
}

.landingpagemobile1 .visionsection {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1080px;
  height: 1553.68px;
  left: 0;
  top: 6439.80px;
}

.landingpagemobile1 .visionsection .bgvision {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1080px;
  height: 1553.68px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .visionsection .bgvision .rectangle703 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  -webkit-filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.48));
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.48));
  width: 1080px;
  height: 752.84px;
  left: 0;
  top: 800.83px;
}

.landingpagemobile1 .visionsection .bgvision .rectangle704 {
  position: absolute;
  background-image: url("../img/rectangle704.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1080px;
  height: 716.85px;
  left: 0;
  top: 83.98px;
}

.landingpagemobile1 .visionsection .bgvision .mlinepattern455bca6d {
  position: absolute;
  background-image: url("../img/mlinepattern455bca6d.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1080px;
  height: 83.98px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .visionsection .vision {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1012px;
  height: 459px;
  left: 34px;
  top: 947.20px;
}

.landingpagemobile1 .visionsection .vision .loQueMasBuscamos {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 67px;
  letter-spacing: 1.03px;
  color: rgba(35, 35, 35, 1);
  font-size: 41px;
  font-weight: 500;
  width: 1012px;
  height: 251px;
  left: 0;
  top: 199.50px;
}

.landingpagemobile1 .visionsection .vision .nuestraVision {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 75px;
  letter-spacing: 2.33px;
  color: rgba(35, 35, 35, 1);
  font-size: 93px;
  font-weight: 700;
  width: 666px;
  height: 116px;
  left: 173px;
  top: 20.50px;
}

.landingpagemobile1 .visionsection .msmartphone {
  position: absolute;
  background-image: url("../img/msmartphone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 411px;
  height: 819.97px;
  left: 334.61px;
  top: 98px;
}

.landingpagemobile1 .funcionessection {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1080px;
  height: 2645px;
  left: 0;
  top: 8150px;
}

.landingpagemobile1 .funcionessection .bgfunciones {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1080px;
  height: 2645px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .funcionessection .bgfunciones .rectangle763 {
  position: absolute;
  background-color: rgba(32, 32, 32, 1);
  -webkit-filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.54));
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.54));
  width: 1080px;
  height: 2645px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .funcionessection .bgfunciones .mlinepatternbaf59471 {
  position: absolute;
  background-image: url("../img/mlinepatternbaf59471.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1080px;
  height: 84px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .funcionessection .titlefunciones {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 508px;
  height: 135px;
  left: 286px;
  top: 210px;
}

.landingpagemobile1 .funcionessection .titlefunciones .funciones {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: unset;
  font-size: 109px;
  font-weight: 700;
  width: 508px;
  height: 135px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .funcionessection .chateaf7be52 {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1036px;
  height: 335px;
  left: 0;
  top: 1939px;
}

.landingpagemobile1 .funcionessection .chateaf7be52 .chat {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 2.43px;
  color: rgba(242, 242, 242, 1);
  font-size: 97px;
  font-weight: 700;
  width: 235px;
  height: 121px;
  left: 424px;
  top: 0;
}

.landingpagemobile1 .funcionessection .chateaf7be52 .conectateC {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 69px;
  letter-spacing: 0.21px;
  color: rgba(242, 242, 242, 1);
  font-size: 42px;
  font-weight: 500;
  width: 992px;
  height: 119px;
  left: 44px;
  top: 206.50px;
}

.landingpagemobile1 .funcionessection .chateaf7be52 .rectangle7093603f2e9 {
  position: absolute;
  background-image: url("../img/rectangle7093603f2e9.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 21px;
  height: 125px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .funcionessection .find {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1059px;
  height: 336px;
  left: 0;
  top: 1478px;
}

.landingpagemobile1 .funcionessection .find .findATeam {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 2.43px;
  color: rgba(242, 242, 242, 1);
  font-size: 97px;
  font-weight: 700;
  width: 562px;
  height: 121px;
  left: 261px;
  top: 0;
}

.landingpagemobile1 .funcionessection .find .necesitas {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 69px;
  letter-spacing: 0.21px;
  color: rgba(242, 242, 242, 1);
  font-size: 42px;
  font-weight: 500;
  width: 1038px;
  height: 119px;
  left: 21px;
  top: 207.50px;
}

.landingpagemobile1 .funcionessection .find .rectangle709 {
  position: absolute;
  background-image: url("../img/rectangle709.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 21px;
  height: 125px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .funcionessection .fill {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1032px;
  height: 397px;
  left: 0;
  top: 955px;
}

.landingpagemobile1 .funcionessection .fill .fillYourTeam {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 2.43px;
  color: rgba(242, 242, 242, 1);
  font-size: 97px;
  font-weight: 700;
  width: 637px;
  height: 121px;
  left: 223px;
  top: 0;
}

.landingpagemobile1 .funcionessection .fill .teFaltaUno {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 69px;
  letter-spacing: 0.21px;
  color: rgba(242, 242, 242, 1);
  font-size: 42px;
  font-weight: 500;
  width: 984px;
  height: 188px;
  left: 48px;
  top: 199.50px;
}

.landingpagemobile1 .funcionessection .fill .rectangle708 {
  position: absolute;
  background-image: url("../img/rectangle708.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 21px;
  height: 127px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .funcionessection .filters {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1037px;
  height: 339px;
  left: 0;
  top: 491px;
}

.landingpagemobile1 .funcionessection .filters .setYourFilters {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 2.43px;
  color: rgba(242, 242, 242, 1);
  font-size: 97px;
  font-weight: 700;
  width: 685px;
  height: 121px;
  left: 204px;
  top: 3px;
}

.landingpagemobile1 .funcionessection .filters .seleccionaUnC {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 69px;
  letter-spacing: 0.21px;
  color: rgba(242, 242, 242, 1);
  font-size: 42px;
  font-weight: 500;
  width: 994px;
  height: 119px;
  left: 43px;
  top: 210.50px;
}

.landingpagemobile1 .funcionessection .filters .rectangle707 {
  position: absolute;
  background-image: url("../img/rectangle707.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 21px;
  height: 125px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .funcionessection .btnprobar {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 514px;
  height: 138px;
  left: 283px;
  top: 2391px;
  border: none;
  outline: none;
}

.landingpagemobile1 .funcionessection .btnprobar .hoverstate {
  display: block;
  position: absolute;
  display: none;
  cursor: pointer;
  background-color: transparent;
  width: 514px;
  height: 138px;
  left: 0;
  top: 6px;
}

.landingpagemobile1 .funcionessection .btnprobar .hoverstate .rectangle6714d3f4949 {
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border-color: rgba(255, 153, 74, 1);
  border-style: solid;
  border-width: 6px;
  border-radius: 69px;
  width: 514px;
  height: 138px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .funcionessection .btnprobar .hoverstate .probar6aff5847 {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 1.48px;
  color: rgba(242, 242, 242, 1);
  font-size: 59px;
  font-weight: 700;
  white-space: pre;
  width: 190px;
  height: 72px;
  left: 161px;
  top: 33px;
}

.landingpagemobile1 .funcionessection .btnprobar .defaultstate {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 514px;
  height: 138px;
  left: 0;
  top: 6px;
}

.landingpagemobile1 .funcionessection .btnprobar .defaultstate .rectangle671 {
  position: absolute;
  background-image: url("../img/rectangle671.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(32, 32, 32, 1);
  border-style: none;
  border-width: 2px;
  border-radius: 69px;
  width: 514px;
  height: 138px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .funcionessection .btnprobar .defaultstate .probar {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 1.48px;
  color: rgba(242, 242, 242, 1);
  font-size: 59px;
  font-weight: 700;
  white-space: pre;
  width: 190px;
  height: 72px;
  left: 161px;
  top: 33px;
}

.landingpagemobile1 .funcionessection .btnprobar:hover>.hoverstate {
  display: inherit;
}

.landingpagemobile1 .funcionessection .btnprobar:hover>.defaultstate {
  display: none;
}

.landingpagemobile1 .footersection {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 1080px;
  height: 257px;
  left: 0;
  top: 10924px;
}

.landingpagemobile1 .footersection .mlinepattern {
  position: absolute;
  background-image: url("../img/mlinepattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1080px;
  height: 84px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .footersection .footercontent {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 872px;
  height: 96px;
  left: 104px;
  top: 161px;
}

.landingpagemobile1 .footersection .footercontent .mteammatchlogomini {
  position: absolute;
  background-image: url("../img/mteammatchlogomini.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 90px;
  height: 96px;
  left: 0;
  top: 0;
}

.landingpagemobile1 .footersection .footercontent .x2020TeammatchallRightsReserved {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: right;
  line-height: 44px;
  letter-spacing: 0.18px;
  color: rgba(242, 242, 242, 1);
  -webkit-text-stroke: unset;
  font-size: 35px;
  font-weight: 500;
  white-space: pre;
  width: 326px;
  height: 87px;
  left: 469px;
  top: -0.50px;
}

.landingpagemobile1 .footersection .footercontent .accent {
  position: absolute;
  -ms-transform: rotate(90.00deg);
  -webkit-transform: rotate(90.00deg);
  transform: rotate(90.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  background-color: rgba(252, 44, 72, 1);
  width: 96px;
  height: 15px;
  left: 816.50px;
  top: 40.50px;
}