html {
  height: 100%;
  width: 100%;
}
* {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.landingpagemobile1 {
  will-change: transform;
  display: block;
  position: absolute;
  background-color: rgba(35, 35, 35, 1);
  width: 100vw; /* 1080px/1080 */
  height: 1041.944444vw; /* 11253px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .topsection {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 100vw; /* 1080px/1080 */
  height: 172.218519vw; /* 1859.96px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .topsection .mbggraphicmask {
  position: absolute;
  background-image: url("../img/mbggraphicmask.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 51.666667vw; /* 558px/1080 */
  height: 66.047222vw; /* 713.31px/1080 */
  right: 0; /* 522px/1080 */
  top: 0;
}
.landingpagemobile1 .topsection .mlaptopmask {
  position: absolute;
  background-image: url("../img/mlaptopmask.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 100vw; /* 1080px/1080 */
  height: 71.371296vw; /* 770.81px/1080 */
  right: 0;
  top: 18.148148vw; /* 196px/1080 */
}
.landingpagemobile1 .topsection .cta {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 83.518519vw; /* 902px/1080 */
  height: 67.225926vw; /* 726.04px/1080 */
  left: 8.240741vw; /* 89px/1080 */
  top: 95.185185vw; /* 1028px/1080 */
}
.landingpagemobile1 .topsection .cta .filtra {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 8.611111vw; /* 93px/1080 */
  letter-spacing: 0.042593vw; /* 0.46px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 7.711111vw; /* 93px/1080 */
  font-weight: 600;
  width: 83.518519vw; /* 902px/1080 */
  height: 19.351852vw; /* 209px/1080 */
  left: 0;
  top: 1.064815vw; /* 11.50px/1080 */
}
.landingpagemobile1 .topsection .cta .btnempiezaya {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 45.092593vw; /* 487px/1080 */
  height: 10vw; /* 108px/1080 */
  left: 19.166667vw; /* 207px/1080 */
  top: 26.666667vw; /* 288px/1080 */
  border: none;
  outline: none;
}
.landingpagemobile1 .topsection .cta .btnempiezaya .hoverstate47b4a142 {
  display: block;
  position: absolute;
  display: none;
  background-image: url("../img/hoverstate47b4a142.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: transparent;
  width: 45.092593vw; /* 487px/1080 */
  height: 10vw; /* 108px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .topsection .cta .btnempiezaya .hoverstate47b4a142 .rectangle67326089b27 {
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border-color: rgba(255, 153, 74, 1);
  border-style: solid;
  border-width: 0.277778vw; /* 3px/1080 */
  border-radius: 5vw; /* 54px/1080 */
  width: 45.092593vw; /* 487px/1080 */
  height: 10vw; /* 108px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .topsection .cta .btnempiezaya .hoverstate47b4a142 .insidecb443828 {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 29.537037vw; /* 319px/1080 */
  height: 5.092593vw; /* 55px/1080 */
  left: 7.87037vw; /* 85px/1080 */
  top: 2.5vw; /* 27px/1080 */
}
.landingpagemobile1 .topsection .cta .btnempiezaya .hoverstate47b4a142 .insidecb443828 .empiezaYae591c17c {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 0.10463vw; /* 1.13px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 4.166667vw; /* 45px/1080 */
  font-weight: 600;
  width: 22.962963vw; /* 248px/1080 */
  height: 5.092593vw; /* 55px/1080 */
  left: 6.574074vw; /* 71px/1080 */
  top: 0;
}
.landingpagemobile1 .topsection .cta .btnempiezaya .hoverstate47b4a142 .insidecb443828 .forwardArrow6f624b2e {
  position: absolute;
  background-image: url("../img/forwardArrow6f624b2e.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  width: 3.055556vw; /* 33px/1080 */
  height: 3.055556vw; /* 33px/1080 */
  left: 0;
  top: 1.111111vw; /* 12px/1080 */
}
.landingpagemobile1 .topsection .cta .btnempiezaya .defaultstateb2b95e31 {
  display: block;
  position: absolute;
  background-image: url("../img/defaultstateb2b95e31.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: transparent;
  width: 45.092593vw; /* 487px/1080 */
  height: 10vw; /* 108px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .topsection .cta .btnempiezaya .defaultstateb2b95e31 .rectangle673 {
  position: absolute;
  background-image: url("../img/rectangle673.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5vw; /* 54px/1080 */
  width: 45.092593vw; /* 487px/1080 */
  height: 10vw; /* 108px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .topsection .cta .btnempiezaya .defaultstateb2b95e31 .inside9b93055f {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 29.537037vw; /* 319px/1080 */
  height: 5.092593vw; /* 55px/1080 */
  left: 7.87037vw; /* 85px/1080 */
  top: 2.5vw; /* 27px/1080 */
}
.landingpagemobile1 .topsection .cta .btnempiezaya .defaultstateb2b95e31 .inside9b93055f .empiezaYa {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 0.10463vw; /* 1.13px/1080 */
  color: rgba(255, 255, 255, 1);
  font-size: 4.166667vw; /* 45px/1080 */
  font-weight: 600;
  width: 22.962963vw; /* 248px/1080 */
  height: 5.092593vw; /* 55px/1080 */
  left: 6.574074vw; /* 71px/1080 */
  top: 0;
}
.landingpagemobile1 .topsection .cta .btnempiezaya .defaultstateb2b95e31 .inside9b93055f .forwardArrow {
  position: absolute;
  background-image: url("../img/forwardArrow.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  width: 3.055556vw; /* 33px/1080 */
  height: 3.055556vw; /* 33px/1080 */
  left: 0;
  top: 1.111111vw; /* 12px/1080 */
}
.landingpagemobile1 .topsection .cta .btnempiezaya:hover>.hoverstate47b4a142 {
  display: inherit;
}
.landingpagemobile1 .topsection .cta .btnempiezaya:hover>.defaultstateb2b95e31 {
  display: none;
}
.landingpagemobile1 .topsection .cta .conectate {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 6.203704vw; /* 67px/1080 */
  letter-spacing: 0.075926vw; /* 0.82px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 3.496296vw; /* 41px/1080 */
  font-weight: 500;
  width: 84.259259vw; /* 910px/1080 */
  height: 23.240741vw; /* 251px/1080 */
  left: 0.185185vw; /* 2px/1080 */
  top: 43.198148vw; /* 466.54px/1080 */
}
.landingpagemobile1 .topsection .topbar {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 33.055556vw; /* 357px/1080 */
  height: 5vw; /* 54px/1080 */
  left: 60.277778vw; /* 651px/1080 */
  top: 6.851852vw; /* 74px/1080 */
}
.landingpagemobile1 .topsection .topbar .btnprobar06a5010d {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 17.777778vw; /* 192px/1080 */
  height: 5vw; /* 54px/1080 */
  left: 15.277778vw; /* 165px/1080 */
  top: 0;
  border: none;
  outline: none;
}
.landingpagemobile1 .topsection .topbar .btnprobar06a5010d .hoverstate2f4c9e26 {
  display: block;
  position: absolute;
  display: none;
  cursor: pointer;
  background-color: transparent;
  width: 17.777778vw; /* 192px/1080 */
  height: 5vw; /* 54px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .topsection .topbar .btnprobar06a5010d .hoverstate2f4c9e26 .rectangle6714bb55cc3 {
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.092593vw; /* 1px/1080 */
  border-radius: 2.314815vw; /* 25px/1080 */
  width: 17.777778vw; /* 192px/1080 */
  height: 5vw; /* 54px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .topsection .topbar .btnprobar06a5010d .hoverstate2f4c9e26 .probar29482163 {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 9.537037vw; /* 103px/1080 */
  letter-spacing: 0.046296vw; /* 0.50px/1080 */
  color: rgba(255, 255, 255, 1);
  font-size: 1.851852vw; /* 20px/1080 */
  font-weight: 600;
  width: 6.111111vw; /* 66px/1080 */
  height: 2.222222vw; /* 24px/1080 */
  left: 5.740741vw; /* 62px/1080 */
  top: -2.268519vw; /* -24.50px/1080 */
}
.landingpagemobile1 .topsection .topbar .btnprobar06a5010d .defaultstate51cb6939 {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 17.777778vw; /* 192px/1080 */
  height: 5vw; /* 54px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .topsection .topbar .btnprobar06a5010d .defaultstate51cb6939 .rectangle67151008ea5 {
  position: absolute;
  cursor: pointer;
  background-color: rgba(32, 32, 32, 1);
  border-radius: 2.314815vw; /* 25px/1080 */
  width: 17.777778vw; /* 192px/1080 */
  height: 5vw; /* 54px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .topsection .topbar .btnprobar06a5010d .defaultstate51cb6939 .probarf2ed9c47 {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 9.537037vw; /* 103px/1080 */
  letter-spacing: 0.046296vw; /* 0.50px/1080 */
  color: rgba(255, 117, 135, 1);
  font-size: 1.851852vw; /* 20px/1080 */
  font-weight: 600;
  width: 6.111111vw; /* 66px/1080 */
  height: 2.222222vw; /* 24px/1080 */
  left: 5.740741vw; /* 62px/1080 */
  top: -2.268519vw; /* -24.50px/1080 */
}
.landingpagemobile1 .topsection .topbar .btnprobar06a5010d:hover>.hoverstate2f4c9e26 {
  display: inherit;
}
.landingpagemobile1 .topsection .topbar .btnprobar06a5010d:hover>.defaultstate51cb6939 {
  display: none;
}
.landingpagemobile1 .topsection .topbar .socialmedia {
  display: block;
  position: absolute;
  background-image: url("../img/socialmedia.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  width: 10.648148vw; /* 115px/1080 */
  height: 1.666667vw; /* 18px/1080 */
  left: 0;
  top: 1.666667vw; /* 18px/1080 */
}
.landingpagemobile1 .topsection .topbar .socialmedia .mfacebook {
  position: absolute;
  background-image: url("../img/mfacebook.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1.666667vw; /* 18px/1080 */
  height: 1.666667vw; /* 18px/1080 */
  left: 8.981481vw; /* 97px/1080 */
  top: 0;
}
.landingpagemobile1 .topsection .topbar .socialmedia .minstagram {
  position: absolute;
  background-image: url("../img/minstagram.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1.666667vw; /* 18px/1080 */
  height: 1.666667vw; /* 18px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .topsection .topbar .socialmedia .mtwitter {
  position: absolute;
  background-image: url("../img/mtwitter.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1.666667vw; /* 18px/1080 */
  height: 1.666667vw; /* 18px/1080 */
  left: 4.537037vw; /* 49px/1080 */
  top: 0;
}
.landingpagemobile1 .topsection .mteammatchlogo {
  position: absolute;
  background-image: url("../img/mteammatchlogo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 33.333333vw; /* 360px/1080 */
  height: 4.166667vw; /* 45px/1080 */
  left: 7.777778vw; /* 84px/1080 */
  top: 7.314815vw; /* 79px/1080 */
}
.landingpagemobile1 .topsection .mforwardArrowSmall {
  position: absolute;
  background-image: url("../img/mforwardArrowSmall.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 5.833333vw; /* 63px/1080 */
  height: 3.792593vw; /* 40.96px/1080 */
  left: 47.042593vw; /* 508.06px/1080 */
  top: 168.425926vw; /* 1819px/1080 */
}
.landingpagemobile1 .mobilesection {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 100vw; /* 1080px/1080 */
  height: 144.236111vw; /* 1557.75px/1080 */
  left: 0;
  top: 177.910185vw; /* 1921.43px/1080 */
}
.landingpagemobile1 .mobilesection .bgsecondgrey {
  position: absolute;
  fill: rgba(35, 35, 35, 1);
  -webkit-filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.42));
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.42));
  width: 100vw; /* 1080px/1080 */
  height: 112.569444vw; /* 1215.75px/1080 */
  left: 0;
  top: 31.666667vw; /* 342px/1080 */
}
.landingpagemobile1 .mobilesection .mtmmockupsmask {
  position: absolute;
  background-image: url("../img/mtmmockupsmask.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 100vw; /* 1080px/1080 */
  height: 31.666667vw; /* 342px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .mobilesection .mobilecta {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 93.333333vw; /* 1008px/1080 */
  height: 94.22963vw; /* 1017.68px/1080 */
  left: 3.333333vw; /* 36px/1080 */
  top: 40.052778vw; /* 432.57px/1080 */
}
.landingpagemobile1 .mobilesection .mobilecta .teammatchaTuAlcance {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 8.796296vw; /* 95px/1080 */
  letter-spacing: 0.22037vw; /* 2.38px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 7.996296vw; /* 95px/1080 */
  font-weight: 600;
  width: 55.925926vw; /* 604px/1080 */
  height: 19.722222vw; /* 213px/1080 */
  left: 18.703704vw; /* 202px/1080 */
  top: 1.064815vw; /* 11.50px/1080 */
}
.landingpagemobile1 .mobilesection .mobilecta .btnplaystore {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 61.819444vw; /* 667.65px/1080 */
  height: 16.409259vw; /* 177.22px/1080 */
  left: 15.740741vw; /* 170px/1080 */
  top: 53.703704vw; /* 580px/1080 */
  border: none;
  outline: none;
}
.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .hoverstatef6a32cd9 {
  display: block;
  position: absolute;
  display: none;
  cursor: pointer;
  background-color: transparent;
  width: 61.819444vw; /* 667.65px/1080 */
  height: 16.409259vw; /* 177.22px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .hoverstatef6a32cd9 .path246 {
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  fill: transparent;
  stroke: rgba(255, 153, 74, 1);
  stroke-width: 0.555556vw; /* 6px/1080 */
  stroke-linecap: butt;
  width: 61.819444vw; /* 667.65px/1080 */
  height: 16.409259vw; /* 177.22px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .hoverstatef6a32cd9 .insidef46698ef {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 40.784259vw; /* 440.47px/1080 */
  height: 10.402778vw; /* 112.35px/1080 */
  left: 10.555556vw; /* 114px/1080 */
  top: 3.055556vw; /* 33px/1080 */
}
.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .hoverstatef6a32cd9 .insidef46698ef .playStore5e6a3aab {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 5.055556vw; /* 60px/1080 */
  font-weight: 600;
  width: 26.111111vw; /* 282px/1080 */
  height: 6.759259vw; /* 73px/1080 */
  left: 14.950926vw; /* 161.47px/1080 */
  top: 1.851852vw; /* 20px/1080 */
}
.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .hoverstatef6a32cd9 .insidef46698ef .mplaystore903c3c59 {
  position: absolute;
  background-image: url("../img/mplaystore903c3c59.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  width: 10.412037vw; /* 112.45px/1080 */
  height: 10.402778vw; /* 112.35px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .defaultstate15c2e21f {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 61.819444vw; /* 667.65px/1080 */
  height: 16.409259vw; /* 177.22px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .defaultstate15c2e21f .path2217cc91163 {
  position: absolute;
  cursor: pointer;
  fill: transparent;
  width: 61.819444vw; /* 667.65px/1080 */
  height: 16.409259vw; /* 177.22px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .defaultstate15c2e21f .inside4a8a8c1a {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 40.784259vw; /* 440.47px/1080 */
  height: 10.402778vw; /* 112.35px/1080 */
  left: 10.555556vw; /* 114px/1080 */
  top: 3.055556vw; /* 33px/1080 */
}
.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .defaultstate15c2e21f .inside4a8a8c1a .playStore {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 5.055556vw; /* 60px/1080 */
  font-weight: 600;
  width: 26.111111vw; /* 282px/1080 */
  height: 6.759259vw; /* 73px/1080 */
  left: 14.950926vw; /* 161.47px/1080 */
  top: 1.851852vw; /* 20px/1080 */
}
.landingpagemobile1 .mobilesection .mobilecta .btnplaystore .defaultstate15c2e21f .inside4a8a8c1a .mplaystore {
  position: absolute;
  background-image: url("../img/mplaystore.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  width: 10.412037vw; /* 112.45px/1080 */
  height: 10.402778vw; /* 112.35px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .mobilesection .mobilecta .btnplaystore:hover>.hoverstatef6a32cd9 {
  display: inherit;
}
.landingpagemobile1 .mobilesection .mobilecta .btnplaystore:hover>.defaultstate15c2e21f {
  display: none;
}
.landingpagemobile1 .mobilesection .mobilecta .btnappstore {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 61.633333vw; /* 665.64px/1080 */
  height: 16.359259vw; /* 176.68px/1080 */
  left: 15.833333vw; /* 171px/1080 */
  top: 77.87037vw; /* 841px/1080 */
  border: none;
  outline: none;
}
.landingpagemobile1 .mobilesection .mobilecta .btnappstore .hoverstate79020c7c {
  display: block;
  position: absolute;
  display: none;
  cursor: pointer;
  background-color: transparent;
  width: 61.633333vw; /* 665.64px/1080 */
  height: 16.359259vw; /* 176.68px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .mobilesection .mobilecta .btnappstore .hoverstate79020c7c .path244 {
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  fill: transparent;
  stroke: rgba(117, 145, 255, 1);
  stroke-width: 0.555556vw; /* 6px/1080 */
  stroke-linecap: butt;
  width: 61.633333vw; /* 665.64px/1080 */
  height: 16.359259vw; /* 176.68px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .mobilesection .mobilecta .btnappstore .hoverstate79020c7c .inside9cceb8fc {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 39.15463vw; /* 422.87px/1080 */
  height: 7.62963vw; /* 82.40px/1080 */
  left: 11.296296vw; /* 122px/1080 */
  top: 4.351852vw; /* 47px/1080 */
}
.landingpagemobile1 .mobilesection .mobilecta .btnappstore .hoverstate79020c7c .inside9cceb8fc .appStore0ed73564 {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 5.055556vw; /* 60px/1080 */
  font-weight: 600;
  width: 26.111111vw; /* 282px/1080 */
  height: 6.759259vw; /* 73px/1080 */
  left: 13.599074vw; /* 146.87px/1080 */
  top: 0.462963vw; /* 5px/1080 */
}
.landingpagemobile1 .mobilesection .mobilecta .btnappstore .hoverstate79020c7c .inside9cceb8fc .mapplelogo9ce79120 {
  position: absolute;
  background-image: url("../img/mapplelogo9ce79120.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  width: 7.62963vw; /* 82.40px/1080 */
  height: 7.62963vw; /* 82.40px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .mobilesection .mobilecta .btnappstore .defaultstatecd5bb0e4 {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 61.633333vw; /* 665.64px/1080 */
  height: 16.359259vw; /* 176.68px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .mobilesection .mobilecta .btnappstore .defaultstatecd5bb0e4 .path221 {
  position: absolute;
  cursor: pointer;
  fill: transparent;
  width: 61.633333vw; /* 665.64px/1080 */
  height: 16.359259vw; /* 176.68px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .mobilesection .mobilecta .btnappstore .defaultstatecd5bb0e4 .inside {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 39.15463vw; /* 422.87px/1080 */
  height: 7.62963vw; /* 82.40px/1080 */
  left: 11.296296vw; /* 122px/1080 */
  top: 4.351852vw; /* 47px/1080 */
}
.landingpagemobile1 .mobilesection .mobilecta .btnappstore .defaultstatecd5bb0e4 .inside .appStore {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 5.055556vw; /* 60px/1080 */
  font-weight: 600;
  width: 26.111111vw; /* 282px/1080 */
  height: 6.759259vw; /* 73px/1080 */
  left: 13.599074vw; /* 146.87px/1080 */
  top: 0.462963vw; /* 5px/1080 */
}
.landingpagemobile1 .mobilesection .mobilecta .btnappstore .defaultstatecd5bb0e4 .inside .mapplelogo {
  position: absolute;
  background-image: url("../img/mapplelogo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  width: 7.62963vw; /* 82.40px/1080 */
  height: 7.62963vw; /* 82.40px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .mobilesection .mobilecta .btnappstore:hover>.hoverstate79020c7c {
  display: inherit;
}
.landingpagemobile1 .mobilesection .mobilecta .btnappstore:hover>.defaultstatecd5bb0e4 {
  display: none;
}
.landingpagemobile1 .mobilesection .mobilecta .utiliza {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 6.388889vw; /* 69px/1080 */
  letter-spacing: 0.077778vw; /* 0.84px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 3.588889vw; /* 42px/1080 */
  font-weight: 500;
  width: 94.259259vw; /* 1018px/1080 */
  height: 17.407407vw; /* 188px/1080 */
  left: 0;
  top: 26.824074vw; /* 300.50px/1080 */
}
.landingpagemobile1 .misionsection {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 100vw; /* 1080px/1080 */
  height: 250.803704vw; /* 2708.68px/1080 */
  left: 0;
  top: 332.622222vw; /* 3592.32px/1080 */
}
.landingpagemobile1 .misionsection .bgmision {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 100vw; /* 1080px/1080 */
  height: 79.933333vw; /* 863.28px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .misionsection .bgmision .rectangle762 {
  position: absolute;
  background-color: rgba(32, 32, 32, 1);
  -webkit-filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.54));
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.54));
  width: 100vw; /* 1080px/1080 */
  height: 79.933333vw; /* 863.28px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .misionsection .bgmision .linepattern {
  position: absolute;
  background-image: url("../img/linepattern.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 100vw; /* 1080px/1080 */
  height: 7.852778vw; /* 84.81px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .misionsection .mision {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 79.259259vw; /* 856px/1080 */
  height: 50.322222vw; /* 543.48px/1080 */
  left: 10.416667vw; /* 112.50px/1080 */
  top: 19.6vw; /* 211.68px/1080 */
}
.landingpagemobile1 .misionsection .mision .nuestraMision {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 8.611111vw; /* 93px/1080 */
  letter-spacing: 0.12963vw; /* 1.40px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 7.811111vw; /* 93px/1080 */
  font-weight: 600;
  width: 65.148148vw; /* 682px/1080 */
  height: 10.740741vw; /* 116px/1080 */
  left: 8.009259vw; /* 86.50px/1080 */
  top: 1.064815vw; /* 11.50px/1080 */
}
.landingpagemobile1 .misionsection .mision .somosUnaEmpresa {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 6.388889vw; /* 69px/1080 */
  letter-spacing: 0.077778vw; /* 0.84px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 3.588889vw; /* 42px/1080 */
  font-weight: 500;
  width: 79.259259vw; /* 856px/1080 */
  height: 30.185185vw; /* 326px/1080 */
  left: 0;
  top: 19.257407vw; /* 207.98px/1080 */
}
.landingpagemobile1 .misionsection .sabermas {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 100vw; /* 1080px/1080 */
  height: 162.222222vw; /* 1752px/1080 */
  left: 0;
  top: 88.581481vw; /* 956.68px/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel1 {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 100vw; /* 1080px/1080 */
  height: 47.777778vw; /* 516px/1080 */
  right: 0;
  top: 18.981481vw; /* 205px/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel1 .mus {
  position: absolute;
  background-image: url("../img/mus.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 47.592593vw; /* 514px/1080 */
  height: 47.777778vw; /* 516px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .misionsection .sabermas .panel1 .insidepanel1 {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 52.407407vw; /* 566px/1080 */
  height: 47.685185vw; /* 515px/1080 */
  left: 47.592593vw; /* 514px/1080 */
  top: 0;
}
.landingpagemobile1 .misionsection .sabermas .panel1 .insidepanel1 .rectangle696 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 52.407407vw; /* 566px/1080 */
  height: 47.685185vw; /* 515px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .misionsection .sabermas .panel1 .insidepanel1 .rectangle698 {
  position: absolute;
  background-color: rgba(252, 44, 72, 1);
  width: 6.759259vw; /* 73px/1080 */
  height: 0.740741vw; /* 8px/1080 */
  left: 8.425926vw; /* 91px/1080 */
  top: 0;
}
.landingpagemobile1 .misionsection .sabermas .panel1 .insidepanel1 .aprendeMas {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 0.203704vw; /* 2.20px/1080 */
  color: rgba(223, 42, 66, 1);
  font-size: 3.674074vw; /* 44px/1080 */
  font-weight: 600;
  width: 29.259259vw; /* 316px/1080 */
  height: 5vw; /* 54px/1080 */
  left: 8.425926vw; /* 91px/1080 */
  top: 32.407407vw; /* 350px/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel1 .insidepanel1 .mcurvedarrow {
  position: absolute;
  background-image: url("../img/mcurvedarrow.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 2.962963vw; /* 32px/1080 */
  height: 2.962963vw; /* 32px/1080 */
  left: 40vw; /* 432px/1080 */
  top: 33.611111vw; /* 363px/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel1 .insidepanel1 .team {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 0;
  color: rgba(58, 58, 58, 1);
  font-size: 7.718519vw; /* 92px/1080 */
  font-weight: 600;
  width: 21.388889vw; /* 231px/1080 */
  height: 10.555556vw; /* 114px/1080 */
  left: 8.425926vw; /* 91px/1080 */
  top: 11.018519vw; /* 119px/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel1 .insidepanel1 .quienesSomos {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 0.138889vw; /* 1.50px/1080 */
  color: rgba(58, 58, 58, 1);
  font-size: 2.577778vw; /* 30px/1080 */
  font-weight: 600;
  width: 23.518519vw; /* 254px/1080 */
  height: 3.518519vw; /* 38px/1080 */
  left: 8.425926vw; /* 91px/1080 */
  top: 26.296296vw; /* 284px/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel2 {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 100vw; /* 1080px/1080 */
  height: 47.87037vw; /* 517px/1080 */
  right: 0;
  top: 66.666667vw; /* 720px/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel2 .mcontroller {
  position: absolute;
  background-image: url("../img/mcontroller.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 47.592593vw; /* 514px/1080 */
  height: 47.87037vw; /* 517px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 52.416667vw; /* 566.10px/1080 */
  height: 47.777778vw; /* 516px/1080 */
  left: 47.583333vw; /* 513.90px/1080 */
  top: 0;
}
.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 .rectangle69440e015b9 {
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(32, 32, 32, 1);
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 0.740741vw; /* 8px/1080 */
  width: 52.416667vw; /* 566.10px/1080 */
  height: 47.777778vw; /* 516px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 .rectangle6997be07b9e {
  position: absolute;
  background-color: rgba(252, 44, 72, 1);
  width: 9.166667vw; /* 99px/1080 */
  height: 1.203704vw; /* 13px/1080 */
  left: 8.25vw; /* 89.10px/1080 */
  top: 0.740741vw; /* 8px/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 .gamingIndustria {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  line-height: 4.907407vw; /* 53px/1080 */
  letter-spacing: 0.231481vw; /* 2.50px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 4.62963vw; /* 50px/1080 */
  font-weight: 600;
  width: 25.185185vw; /* 272px/1080 */
  height: 10.740741vw; /* 116px/1080 */
  left: 8.25vw; /* 89.10px/1080 */
  top: 19.814815vw; /* 214px/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 .gamingIndustria .gamingIndustria-0 {
  color: rgba(242, 242, 242, 1);
  font-weight: 600;
  font-size: 4.62963vw; /* 50px/1080 */
  letter-spacing: 0.231481vw; /* 2.5/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 .gamingIndustria .gamingIndustria-6 {
  color: rgba(242, 242, 242, 1);
  font-weight: 600;
  font-size: 4.62963vw; /* 50px/1080 */
  letter-spacing: 0.231481vw; /* 2.5/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 .gamingIndustria .gamingIndustria-7 {
  color: rgba(242, 242, 242, 1);
  font-weight: 600;
  font-size: 4.62963vw; /* 50px/1080 */
  letter-spacing: 0.231481vw; /* 2.5/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel2 .insidepanel2 .gamingIndustria .gamingIndustria-9 {
  color: rgba(242, 242, 242, 1);
  font-weight: 600;
  font-size: 4.62963vw; /* 50px/1080 */
  letter-spacing: 0.231481vw; /* 2.5/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel3 {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 100vw; /* 1080px/1080 */
  height: 47.777778vw; /* 516px/1080 */
  right: 0;
  top: 114.444444vw; /* 1236px/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel3 .mcrystal {
  position: absolute;
  background-image: url("../img/mcrystal.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 47.592593vw; /* 514px/1080 */
  height: 47.777778vw; /* 516px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 52.416667vw; /* 566.10px/1080 */
  height: 47.777778vw; /* 516px/1080 */
  left: 47.583333vw; /* 513.90px/1080 */
  top: 0;
}
.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 .rectangle694 {
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(32, 32, 32, 1);
  border-color: rgba(242, 242, 242, 1);
  border-style: solid;
  border-width: 0.740741vw; /* 8px/1080 */
  width: 52.416667vw; /* 566.10px/1080 */
  height: 47.777778vw; /* 516px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 .rectangle699 {
  position: absolute;
  background-color: rgba(252, 44, 72, 1);
  width: 9.166667vw; /* 99px/1080 */
  height: 1.111111vw; /* 12px/1080 */
  left: 8.25vw; /* 89.10px/1080 */
  top: 0.833333vw; /* 9px/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 .multiplayerMatchmaking {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  line-height: 4.907407vw; /* 53px/1080 */
  letter-spacing: 0.231481vw; /* 2.50px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 4.62963vw; /* 50px/1080 */
  font-weight: 600;
  width: 35.833333vw; /* 387px/1080 */
  height: 10.740741vw; /* 116px/1080 */
  left: 8.25vw; /* 89.10px/1080 */
  top: 20vw; /* 216px/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 .multiplayerMatchmaking .multiplayerMatchmaking-0 {
  color: rgba(242, 242, 242, 1);
  font-weight: 600;
  font-size: 4.62963vw; /* 50px/1080 */
  letter-spacing: 0.231481vw; /* 2.5/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 .multiplayerMatchmaking .multiplayerMatchmaking-11 {
  color: rgba(242, 242, 242, 1);
  font-weight: 600;
  font-size: 4.62963vw; /* 50px/1080 */
  letter-spacing: 0.231481vw; /* 2.5/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 .multiplayerMatchmaking .multiplayerMatchmaking-12 {
  color: rgba(242, 242, 242, 1);
  font-weight: 600;
  font-size: 4.62963vw; /* 50px/1080 */
  letter-spacing: 0.231481vw; /* 2.5/1080 */
}
.landingpagemobile1 .misionsection .sabermas .panel3 .insidepanel3 .multiplayerMatchmaking .multiplayerMatchmaking-14 {
  color: rgba(242, 242, 242, 1);
  font-weight: 600;
  font-size: 4.62963vw; /* 50px/1080 */
  letter-spacing: 0.231481vw; /* 2.5/1080 */
}
.landingpagemobile1 .misionsection .sabermas .saberMas {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 0.127778vw; /* 1.38px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 7.718519vw; /* 92px/1080 */
  font-weight: 600;
  width: 43.611111vw; /* 471px/1080 */
  height: 10.555556vw; /* 114px/1080 */
  left: 28.055556vw; /* 303px/1080 */
  top: 0;
}
.landingpagemobile1 .visionsection {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 100vw; /* 1080px/1080 */
  height: 143.859259vw; /* 1553.68px/1080 */
  left: 0;
  top: 596.277778vw; /* 6439.80px/1080 */
}
.landingpagemobile1 .visionsection .bgvision {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 100vw; /* 1080px/1080 */
  height: 143.859259vw; /* 1553.68px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .visionsection .bgvision .rectangle703 {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  -webkit-filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.48));
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.48));
  width: 100vw; /* 100vw/1080 */
  height: 69.707407vw; /* 752.84px/1080 */
  left: 0;
  top: 74.150926vw; /* 800.83px/1080 */
}
.landingpagemobile1 .visionsection .bgvision .rectangle704 {
  position: absolute;
  background-image: url("../img/rectangle704.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 100vw; /* 1080px/1080 */
  height: 66.375vw; /* 716.85px/1080 */
  left: 0;
  top: 7.775926vw; /* 83.98px/1080 */
}
.landingpagemobile1 .visionsection .bgvision .mlinepattern455bca6d {
  position: absolute;
  background-image: url("../img/mlinepattern455bca6d.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 100vw; /* 1080px/1080 */
  height: 7.775926vw; /* 83.98px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .visionsection .vision {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 93.703704vw; /* 1012px/1080 */
  height: 42.5vw; /* 459px/1080 */
  left: 3.148148vw; /* 34px/1080 */
  top: 87.703704vw; /* 947.20px/1080 */
}
.landingpagemobile1 .visionsection .vision .loQueMasBuscamos {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 6.203704vw; /* 67px/1080 */
  letter-spacing: 0.09537vw; /* 1.03px/1080 */
  color: rgba(35, 35, 35, 1);
  font-size: 3.396296vw; /* 41px/1080 */
  font-weight: 500;
  width: 93.703704vw; /* 1012px/1080 */
  height: 23.240741vw; /* 251px/1080 */
  left: 0;
  top: 18.472222vw; /* 199.50px/1080 */
}
.landingpagemobile1 .visionsection .vision .nuestraVision {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 6.944444vw; /* 75px/1080 */
  letter-spacing: 0.215741vw; /* 2.33px/1080 */
  color: rgba(35, 35, 35, 1);
  font-size: 7.711111vw; /* 93px/1080 */
  font-weight: 600;
  width: 61.666667vw; /* 666px/1080 */
  height: 10.740741vw; /* 116px/1080 */
  left: 16.018519vw; /* 173px/1080 */
  top: 1.898148vw; /* 20.50px/1080 */
}
.landingpagemobile1 .visionsection .msmartphone {
  position: absolute;
  background-image: url("../img/msmartphone.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 38.055556vw; /* 411px/1080 */
  height: 75.923148vw; /* 819.97px/1080 */
  left: 30.982407vw; /* 334.61px/1080 */
  top: 9.074074vw; /* 98px/1080 */
}
.landingpagemobile1 .funcionessection {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 100vw; /* 1080px/1080 */
  height: 244.907407vw; /* 2645px/1080 */
  left: 0;
  top: 754.62963vw; /* 8150px/1080 */
}
.landingpagemobile1 .funcionessection .bgfunciones {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 100vw; /* 1080px/1080 */
  height: 244.907407vw; /* 2645px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .funcionessection .bgfunciones .rectangle763 {
  position: absolute;
  background-color: rgba(32, 32, 32, 1);
  -webkit-filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.54));
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.54));
  width: 100vw; /* 1080px/1080 */
  height: 244.907407vw; /* 2645px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .funcionessection .bgfunciones .mlinepatternbaf59471 {
  position: absolute;
  background-image: url("../img/mlinepatternbaf59471.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 100vw; /* 1080px/1080 */
  height: 7.777778vw; /* 84px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .funcionessection .titlefunciones {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 47.037037vw; /* 508px/1080 */
  height: 12.5vw; /* 135px/1080 */
  left: 26.481481vw; /* 286px/1080 */
  top: 19.444444vw; /* 210px/1080 */
}
.landingpagemobile1 .funcionessection .titlefunciones .funciones {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: unset;
  font-size: 9.092593vw; /* 109px/1080 */
  font-weight: 600;
  width: 47.037037vw; /* 508px/1080 */
  height: 12.5vw; /* 135px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .funcionessection .chateaf7be52 {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 95.925926vw; /* 1036px/1080 */
  height: 31.018519vw; /* 335px/1080 */
  left: 0;
  top: 179.537037vw; /* 1939px/1080 */
}
.landingpagemobile1 .funcionessection .chateaf7be52 .chat {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 0.225vw; /* 2.43px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 8.181481vw; /* 97px/1080 */
  font-weight: 600;
  width: 21.759259vw; /* 235px/1080 */
  height: 11.203704vw; /* 121px/1080 */
  left: 39.259259vw; /* 424px/1080 */
  top: 0;
}
.landingpagemobile1 .funcionessection .chateaf7be52 .conectateC {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 6.388889vw; /* 69px/1080 */
  letter-spacing: 0.019444vw; /* 0.21px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 3.588889vw; /* 42px/1080 */
  font-weight: 500;
  width: 91.851852vw; /* 992px/1080 */
  height: 11.018519vw; /* 119px/1080 */
  left: 4.074074vw; /* 44px/1080 */
  top: 19.12037vw; /* 206.50px/1080 */
}
.landingpagemobile1 .funcionessection .chateaf7be52 .rectangle7093603f2e9 {
  position: absolute;
  background-image: url("../img/rectangle7093603f2e9.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1.944444vw; /* 21px/1080 */
  height: 11.574074vw; /* 125px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .funcionessection .find {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 98.055556vw; /* 1059px/1080 */
  height: 31.111111vw; /* 336px/1080 */
  left: 0;
  top: 136.851852vw; /* 1478px/1080 */
}
.landingpagemobile1 .funcionessection .find .findATeam {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 0.225vw; /* 2.43px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 8.181481vw; /* 97px/1080 */
  font-weight: 600;
  width: 52.037037vw; /* 562px/1080 */
  height: 11.203704vw; /* 121px/1080 */
  left: 24.166667vw; /* 261px/1080 */
  top: 0;
}
.landingpagemobile1 .funcionessection .find .necesitas {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 6.388889vw; /* 69px/1080 */
  letter-spacing: 0.019444vw; /* 0.21px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 3.588889vw; /* 42px/1080 */
  font-weight: 500;
  width: 96.111111vw; /* 1038px/1080 */
  height: 11.018519vw; /* 119px/1080 */
  left: 1.944444vw; /* 21px/1080 */
  top: 19.212963vw; /* 207.50px/1080 */
}
.landingpagemobile1 .funcionessection .find .rectangle709 {
  position: absolute;
  background-image: url("../img/rectangle709.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1.944444vw; /* 21px/1080 */
  height: 11.574074vw; /* 125px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .funcionessection .fill {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 95.555556vw; /* 1032px/1080 */
  height: 36.759259vw; /* 397px/1080 */
  left: 0;
  top: 88.425926vw; /* 955px/1080 */
}
.landingpagemobile1 .funcionessection .fill .fillYourTeam {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 0.225vw; /* 2.43px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 8.081481vw; /* 97px/1080 */
  font-weight: 600;
  width: 58.981481vw; /* 637px/1080 */
  height: 11.203704vw; /* 121px/1080 */
  left: 20.648148vw; /* 223px/1080 */
  top: 0;
}
.landingpagemobile1 .funcionessection .fill .teFaltaUno {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 6.388889vw; /* 69px/1080 */
  letter-spacing: 0.019444vw; /* 0.21px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 3.588889vw; /* 42px/1080 */
  font-weight: 500;
  width: 91.111111vw; /* 984px/1080 */
  height: 17.407407vw; /* 188px/1080 */
  left: 4.444444vw; /* 48px/1080 */
  top: 18.472222vw; /* 199.50px/1080 */
}
.landingpagemobile1 .funcionessection .fill .rectangle708 {
  position: absolute;
  background-image: url("../img/rectangle708.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1.944444vw; /* 21px/1080 */
  height: 11.759259vw; /* 127px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .funcionessection .filters {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 96.018519vw; /* 1037px/1080 */
  height: 31.388889vw; /* 339px/1080 */
  left: 0;
  top: 45.462963vw; /* 491px/1080 */
}
.landingpagemobile1 .funcionessection .filters .setYourFilters {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 0.225vw; /* 2.43px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 8.181481vw; /* 97px/1080 */
  font-weight: 600;
  width: 63.425926vw; /* 685px/1080 */
  height: 11.203704vw; /* 121px/1080 */
  left: 18.888889vw; /* 204px/1080 */
  top: 0.277778vw; /* 3px/1080 */
}
.landingpagemobile1 .funcionessection .filters .seleccionaUnC {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 6.388889vw; /* 69px/1080 */
  letter-spacing: 0.019444vw; /* 0.21px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 3.588889vw; /* 42px/1080 */
  font-weight: 500;
  width: 92.037037vw; /* 994px/1080 */
  height: 11.018519vw; /* 119px/1080 */
  left: 3.981481vw; /* 43px/1080 */
  top: 19.490741vw; /* 210.50px/1080 */
}
.landingpagemobile1 .funcionessection .filters .rectangle707 {
  position: absolute;
  background-image: url("../img/rectangle707.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 1.944444vw; /* 21px/1080 */
  height: 11.574074vw; /* 125px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .funcionessection .btnprobar {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 47.592593vw; /* 514px/1080 */
  height: 12.777778vw; /* 138px/1080 */
  left: 26.203704vw; /* 283px/1080 */
  top: 221.388889vw; /* 2391px/1080 */
  border: none;
  outline: none;
}
.landingpagemobile1 .funcionessection .btnprobar .hoverstate {
  display: block;
  position: absolute;
  display: none;
  cursor: pointer;
  background-color: transparent;
  width: 47.592593vw; /* 514px/1080 */
  height: 12.777778vw; /* 138px/1080 */
  left: 0;
  top: 0.555556vw; /* 6px/1080 */
}
.landingpagemobile1 .funcionessection .btnprobar .hoverstate .rectangle6714d3f4949 {
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border-color: rgba(255, 153, 74, 1);
  border-style: solid;
  border-width: 0.555556vw; /* 6px/1080 */
  border-radius: 6.388889vw; /* 69px/1080 */
  width: 47.592593vw; /* 514px/1080 */
  height: 12.777778vw; /* 138px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .funcionessection .btnprobar .hoverstate .probar6aff5847 {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 0.137037vw; /* 1.48px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 4.962963vw; /* 59px/1080 */
  font-weight: 600;
  white-space: pre;
  width: 17.592593vw; /* 190px/1080 */
  height: 6.666667vw; /* 72px/1080 */
  left: 14.907407vw; /* 161px/1080 */
  top: 3.055556vw; /* 33px/1080 */
}
.landingpagemobile1 .funcionessection .btnprobar .defaultstate {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  width: 47.592593vw; /* 514px/1080 */
  height: 12.777778vw; /* 138px/1080 */
  left: 0;
  top: 0.555556vw; /* 6px/1080 */
}
.landingpagemobile1 .funcionessection .btnprobar .defaultstate .rectangle671 {
  position: absolute;
  background-image: url("../img/rectangle671.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(32, 32, 32, 1);
  border-style: none;
  border-width: 0.185185vw; /* 2px/1080 */
  border-radius: 6.388889vw; /* 69px/1080 */
  width: 47.592593vw; /* 514px/1080 */
  height: 12.777778vw; /* 138px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .funcionessection .btnprobar .defaultstate .probar {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 0.137037vw; /* 1.48px/1080 */
  color: rgba(242, 242, 242, 1);
  font-size: 4.962963vw; /* 59px/1080 */
  font-weight: 600;
  white-space: pre;
  width: 17.592593vw; /* 190px/1080 */
  height: 6.666667vw; /* 72px/1080 */
  left: 14.907407vw; /* 161px/1080 */
  top: 3.055556vw; /* 33px/1080 */
}
.landingpagemobile1 .funcionessection .btnprobar:hover>.hoverstate {
  display: inherit;
}
.landingpagemobile1 .funcionessection .btnprobar:hover>.defaultstate {
  display: none;
}
.landingpagemobile1 .footersection {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 100vw; /* 1080px/1080 */
  height: 23.796296vw; /* 257px/1080 */
  left: 0;
  top: 1011.481481vw; /* 10924px/1080 */
}
.landingpagemobile1 .footersection .mlinepattern {
  position: absolute;
  background-image: url("../img/mlinepattern.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 100vw; /* 1080px/1080 */
  height: 7.777778vw; /* 84px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .footersection .footercontent {
  display: block;
  position: absolute;
  background-color: transparent;
  width: 80.740741vw; /* 872px/1080 */
  height: 8.888889vw; /* 96px/1080 */
  left: 9.62963vw; /* 104px/1080 */
  top: 14.907407vw; /* 161px/1080 */
}
.landingpagemobile1 .footersection .footercontent .mteammatchlogomini {
  position: absolute;
  background-image: url("../img/mteammatchlogomini.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  width: 8.333333vw; /* 90px/1080 */
  height: 8.888889vw; /* 96px/1080 */
  left: 0;
  top: 0;
}
.landingpagemobile1 .footersection .footercontent .x2020TeammatchallRightsReserved {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: right;
  line-height: 4.074074vw; /* 44px/1080 */
  letter-spacing: 0.016667vw; /* 0.18px/1080 */
  color: rgba(242, 242, 242, 1);
  -webkit-text-stroke: unset;
  font-size: 2.940741vw; /* 35px/1080 */
  font-weight: 500;
  white-space: pre;
  width: 30.185185vw; /* 326px/1080 */
  height: 8.055556vw; /* 87px/1080 */
  left: 43.425926vw; /* 469px/1080 */
  top: -0.046296vw; /* -0.50px/1080 */
}
.landingpagemobile1 .footersection .footercontent .accent {
  position: absolute;
  -ms-transform: rotate(90.00deg);
  -webkit-transform: rotate(90.00deg);
  transform: rotate(90.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  background-color: rgba(252, 44, 72, 1);
  width: 8.888889vw; /* 96px/1080 */
  height: 1.388889vw; /* 15px/1080 */
  left: 75.601852vw; /* 816.50px/1080 */
  top: 3.75vw; /* 40.50px/1080 */
}